<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Breast Cancer Prediction</title>
    <!-- <script src="https://kit.fontawesome.com/5bd445c778.js" crossorigin="anonymous"></script> -->
    <meta name="author" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'common.css' %}">
</head>


<body>
  <div id="loading">LOADING<div id="loadingIcon"></div></div>
  
  <div id="headingID" class="heading">Tweets Sentiment Analyser</div>
  <div id="logoContainerID" class="logoContainer">
    <a href="https://twitter.com"><img class="logo" src="{% static 'twitterLogo.png' %}" alt="twitter"></a>
  </div>
  <!-- <div id="navbar"></div> -->
  
  

  {% block content %} {% endblock %}

  <!-- <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-circle-up"></i></button> -->
  <script></script>
</body>


</html>