 {%extends 'base.html'%} {%block content%} 
 {% load static %}
<div class="predictContainer">
    {% if value %}
<script type="text/javascript">
    var elem=document.getElementById('loading');
    elem.style.display='none';
</script>
<div class="resultPage">
    <div class="resultPageHeading">Reactions To :- '<u><b>{{searchWord}}'</b></u></div>
    <div class="resultsBox">
    <div id="neutralBox" class="resultBox" style="background-image: url({% static 'line.png' %})">
        Neutral Tweets :{{neutralTweets}}%
    </div>
    <div id="positiveBox" class="resultBox" style="background-image: url({% static 'accept.png' %})">
        Positive Tweets :{{positiveTweets}}%
    </div>
    <div id="negativeBox" class="resultBox" style="background-image: url({% static 'cancel.png' %})">
        Negative Tweets :{{negativeTweets}}%
    </div>
    </div>
    <!-- <div class="">
       {{log}}
    </div> -->
    <div>
        <script
        type="text/javascript"
        src="https://www.gstatic.com/charts/loader.js"
      ></script>
      <script type="text/javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Sentiment', 'Percentage'],
            ['Positive' , {{positiveTweets}}],
            ['Negative',  {{negativeTweets}}],
            ['Neutral',  {{neutralTweets}}],
          ]);
  
          var options = {
            title: 'Sentimental Analysis on Recent Tweets on Topic',
            is3D: true,
          };
  
          var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
          chart.draw(data, options);
        }
      </script>
    </div>
    <div id="piechart_3d" >
    </div>

</div>

{% else %}

<div id="formContainerID" class="formContainer">
        <form class="formBody" method="POST" action="/">
            {% csrf_token %}
            <div class="searchContainer">
                    <label class="searchLabel" for="Search">SEARCH:</label>
                    <input class="searchBox" type="text" name="Search" placeholder='enter keyword!'>
             </div>  
            <div class="buttonForSearch" >
                <button class="searchButton" type="submit" onclick="funLoad()">ANALYSE!!</button>
            </div>

        </form>
</div>

{% endif %}

<script>
    function funLoad(){
            var elem =document.getElementById("loading");
            elem.style.display='block';
            var elem =document.getElementById('loadingIcon');
            elem.style.display='block';
            elem=document.getElementById('formContainerID');
            elem.style.opacity=0.4;
            elem=document.getElementById('headingID');
            elem.style.opacity=0.4;
            elem=document.getElementById('logoContainerID');
            elem.style.opacity=0.4;
    } 
</script>
</div>

{%endblock%}